accelerate
aiofiles
alembic
annotated-types
anyio
asttokens
attrs
beautifulsoup4
bs4
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
colorlog
comm
contourpy
cycler
debugpy
decorator
distro
dnspython
email_validator
emoji
executing
fastapi
fastapi-cli
ffmpy
filelock
fonttools
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
googletrans
gradio
gradio_client
greenlet
h11
h2
hpack
hstspreload
httpcore
httplib2
httptools
httpx
huggingface-hub
hyperframe
idna
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jupyter_client
jupyter_core
kiwisolver
langdetect
libretranslatepy
Mako
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
nest-asyncio
networkx
nltk
numpy
nupy
ollama
openai
optuna
orjson
outcome
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
proto-plus
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
regex
requests
rfc3986
rich
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
selenium
semantic-version
sentence-transformers
sentencepiece
setuptools
shellingham
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
stanza
starlette
sympy
threadpoolctl
tiktoken
tokenizers
tomlkit
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
watchfiles
wcwidth
websocket-client
websockets
wsproto
ollama
deep-translator